<div class="layout-container">
  <!-- Toolbar -->
  <mat-toolbar class="toolbar">
    <button mat-icon-button (click)="toggleSidebar()">
      <i class="las la-bars"></i>
    </button>
    <span class="toolbar-title"><img src="logo-retangular.svg" alt="Logo" class="logo" /></span>
    <span class="spacer"></span>
    <button mat-icon-button>
      <i class="las la-search"></i>
    </button>
    <button mat-icon-button>
      <i class="las la-bell"></i>
    </button>
    <button mat-icon-button>
      <i class="las la-user"></i>
    </button>
  </mat-toolbar>

  <mat-drawer-container class="main-container">
    <!-- Sidebar -->
    <mat-drawer #drawer mode="side" [opened]="isSidebarOpen" class="sidebar">
      @if (isSidebarOpen) {
        <ul class="menu-list">
          <a routerLink="/" routerLinkActive="active-link" class="menu-link">
            <li class="menu-item">
              <i class="las la-tachometer-alt"></i> Dashboard
            </li>
          </a>
          <a routerLink="/orders" routerLinkActive="active-link" class="menu-link">
            <li class="menu-item">
              <i class="las la-box"></i> Orders
            </li>
          </a>
          <a routerLink="/settings" routerLinkActive="active-link" class="menu-link">
            <li class="menu-item">
              <i class="las la-cog"></i> Settings
            </li>
          </a>
        </ul>      
      }
    </mat-drawer>

    <!-- Main Content -->
    <mat-drawer-content>
      <div class="main-content">
        <router-outlet></router-outlet>
      </div>
    </mat-drawer-content>
  </mat-drawer-container>

</div>